.user-flow-sec {
    .content-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        padding: 50px 20px;
    }

    .sec-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .obj {
        &.obj-2 {
            left: 0;
            top: 80%;
        }

        &.obj-3 {
            left: 0;
            top: -20%;
        }
    }
}

@media (max-width: 992px) {
    .user-flow-sec {
        .sec-img {
            display: none;
        }
    }
}