:root {
  --primary: #A31C72;
  --primary-light: #E5C6DB;
  --gray: #2B2B2B;
  --gray2: #6B6B6B;
  --gray3: #464646;
  --gray-light: #F7F7F7;
  --blue-light: #9EE8F6;
  --yellow: #F9AE0E;

  --font-family: "Gilroy-Medium", sans-serif;
  --section-padding: clamp(45px, 7vw, 70px) 0;
  --heading-color: #2B2B2B;


}
